@import url('https://fonts.googleapis.com/css?family=Yatra+One');

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

/* Image details below: */
.image {
  object-fit: cover;
  border: dotted;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  opacity: 0.1;
}

/* Paragraph dropdown block below: */
.heading:hover {
     color: #0d0d0d;
     cursor: pointer;
}

.info, .heading {
    padding: 5px;
}

.info {
    padding: 50px;
    display: none;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(#f99e8b, #f1f1f1);
}

* {
  font-family: 'Yatra One', cursive;
}
